<article class="center">
	<h1 class="title">¡Bienvenido!</h1>
	<div class="line line-short"></div>
	<p class="text">Bienvenido a nuestra web, en zigna creativa sabemos de la importancia que es cuidar cada detalle, es por eso que siempre buscamos las mejores soluciones para tu proyecto, donde el único objetivo que tenemos es potenciar tu marca.</p>
	<p class="text-blue">“Lo que conduce y arrastra al mundo no son las máquinas, sino las ideas.” </br>
	Victor Hugo.
	</p>
	<h1 class="title">Nosotros</h1>
	<div class="line line-short"></div>
	<p class="text">Somos una agencia creativa conformada por jovenes profesionales que buscan siempre la mejor solución para tu proyecto. Somos especialistas en desarrollo y diseño web, diseño gráfico, Marketing online, E-commerce y demas servicios que podrás leer con mayor detalle en nuestra web.</p>
	<div class="line line-large"></div>
</article>