<div class="center_about">
	<h1 class="title">Quiénes Somos</h1>
	<div class="line line-short"></div>
	<p class="text text-about">
	Profesionales creativos, profesionales en busca de la mejor solución para tu
proyecto. Conformamos una firma fresca y auténtica especializada que traduce tus necesidades al  lenguaje del desarrollo y diseño web, multimedia, diseño
gráfico, Marketing online, y un sinfín de posibilidades.</p>
	<h1 class="title">Como lo Hacemos:</h1>
	<div class="line line-short"></div>
	<div class="column_left">
	<p class="column text">
	<span>1. Percibir</br></span>
	Observar, escuchar y sentir las necesidades de nuestro cliente y así trazar el objetivo.
	</p>
	<p class="column text">
	<span>3. Desarrollar</br></span>
	Aplicamos lo analizado para generar agentes de cambio que potencianlicen su concepto.
	</p>
	</div>

	<div class="column_right">
	<p class="column text">
	<span>2. Analizar</br></span>
	Comparar el entorno del mercado y de la competencia, aprovechando las fortalezas y debilidades del cliente, para ofrecerle las mejores soluciones a su proyecto.
	</p>
	<p class="column text">
	<span>4. La mejor experiencia de trabajo</br></span>
	Con base a tu satisfacción garantizamos los mejores resultados que tus necesidades requiera.
	</p>
	</div>
</div>