<div class="center_about">
	<h1 class="title">Quiénes Somos</h1>
	<div class="line line-short line-about"></div>
	<p class="text text-about">	
	Somos una agencia creativa conformada por jovenes profesionales que buscan siempre la mejor solución para tu proyecto. Somos especialistas en desarrollo y diseño web, multimedia, diseño gráfico, Marketing online, y  demas servicios que podras leer con mayor detalle en nuestra web.
	</p>
	<p class="text text-about">
	Nos distinguimos por ser una firma fresca y autentica, con lo que nos hace estar abiertos a escuchar sus demandas y necesidades, a manera que logremos el objetivo principal:</br> 
	<span>HACER QUE SU NEGOCIO CRESCA.</span></br></br></br>
	</p>
	<h1 class="title">Procedimiento de Trabajo</h1>
	<div class="line line-short line-about-big"></div>
	<div class="about-column">
	<div class="column_left">
	<p class="column text">
	<span>1. Escuchamos</br></span>
	Nos concentramos en los objetivos del cliente para entender a completa perfección las necesidades que se requieren.
	</p>
	<p class="column text">
	<span>3. Desarrollamos</br></span>
	Preparamos todas la infraestructura y las herramientas necesarias  para desarollar de manera eficaz el proyecto. En esta etapa del proyecto se hacen las revisiones con el cliente.
	</p>
	</div>

	<div class="column_right">
	<p class="column text">
	<span>2. Analizamos</br></span>
	Evualmos cada detalle del proyecto y asi mismo visualizamos las mejores soluciones para este mismo. Hacemos llegar un par de propuestas para que el cliente tenga oportunidad de elegir.
	</p>
	<p class="column text">
	<span>4. Entregamos</br></span>
	Por ultimo en la parte final del proyecto en donde todo el desarrollo se prepara correctamente para su entrega final en los plazos pactados. Le damos un seguimiento y garantia al proyecto desarrollado.
	</p>
	</div>
</div>

</div>