<article class="center">
	<h1 class="title">¡Bienvenido!</h1>
	<div class="line line-short"></div>
	<p class="text">Bienvenido a nuestra web, en zigna creativa sabemos de la importancia que es cuidar cada detalle, es por eso que siempre buscamos las mejores soluciones para tu proyecto, donde el único objetivo que tenemos es potenciar tu marca.</p>
	<p class="text-blue">“Lo que conduce y arrastra al mundo no son las máquinas, sino las ideas.” </br>
	Victor Hugo.
	</p>
	<h1 class="title">Quiénes Somos</h1>
	<div class="line line-short"></div>
	<p class="text">Profesionales creativos en busca de la mejor solución para tu
proyecto. Conformamos una firma fresca y auténtica especializada que traduce tus necesidades al  lenguaje del desarrollo y diseño web, multimedia, diseño
gráfico, Marketing online, y un sinfín de posibilidades.</p>
	<div class="line line-large"></div>
</article>