<section class="lateral">
<%= image_tag("icon_process1.png" , :class => "icon")%><h3 class="title ">Ideas CREATIVAS </h3>
<p class="text">Tenemos la certeza de que una buena idea con un buen desarrollo siempre sera exitoso.</p>
<%= image_tag("icon_process2.png" , :class => "icon")%><h3 class="title ">Soluciones EFECTIVAS </h3>
<p class="text">Tenemos las herramientas nece- </br>sarias para poder impulsar tu marca o negocio.</p>
<%= image_tag("icon_process3.png" , :class => "icon")%><h3 class="title ">Proyectos ORIGINALES </h3>
<p class="text">Personalizamos tu proyecto de acuerdo a tus necesidades.</p>
</section>