<div class="service-title"><h1 class="title">Imagen Corporativa</h1></div>
<p class="frase">
Creamos la identidad corporativa de su empresa de manera que se pueda reflejar cada elemento comunicativo adecuadamente.
</p></br>
<p class="text">La imagen de su empresa es importante, es por eso que nos enfocamos en desarrollar un logotipo a si como sus variantes en aplicaciones gráficas, también entregamos un manual corporativo donde vienen todas las especificaciones de uso.
</p></br>

<p class="text">Los servicios que manejamos para imagen corporativa son:
</p>

<p class="text">
<ul class="text text-service">
	<li>
   Diseño de Logotipo.</li>
	<li>Diseño de Papeleria</li>
	<li>Aplicaciones Gráficas</li>
	<li>Naming</li>
</ul>
</p>