<div class="service-title"><h1 class="title">Marketing</h1></div>
<p class="frase">
Juntos creamos el vínculo que le ayude a posicionar la mente del cliente su marca, productos y/o Servicios.
</p></br>
<p class="text">
</p></br>

<p class="text">Los servicios que manejamos para  marketing son:
</p>
	
<p class="text">
<ul class="text text-service">
	<li>Análisis de la Competencia.</li>
	<li>Investigación de mercados.</li>
	<li>Estrategias de posicionamiento y desarrollo de marca.</li>
	<li>BTL</li>
	<li>Branding</li>
	<li>Plan Marketing</li>
	<li> Registro de Marca</li>
</ul>
</p>