<div class="service-title"><h1 class="title">Multimedia</h1></div>
<p class="frase">
Llevamos tu imagen a medios interactivos. En donde cada elemento gráfico se exprese en movimiento.
</p></br>
<p class="text">Ponemos a tu disposición distintas soluciones en multimedia, creando contenidos interactivos  los cuales puedan ser vistos en la web o en algun dispositivo de almacenamiento.
</p></br>

<p class="text">Los servicios que manejamos para  multimedia son:
</p>
	
<p class="text">
<ul class="text text-service">
	<li>CD Interactivo.</li>
	<li>Presentación Multimedia</li>
	<li>Aplicaciones Gráficas</li>
	<li>Animación de Logotipo</li>
	<li>Intro</li>
	<li>Portafolio</li>
	<li>Banners</li>
</ul>
</p>