<div class="service-title"><h1 class="title">Marketing Online</h1></div>
<p class="frase">
Alcance e impacte a su mercado meta para que su marca sorprenda.
</p></br>
<p class="text">
	Existen nuevas herramientas en internet es por eso que desarrollamos estrategias de marketing personalizadas de acuerdo a las necesidades de cada cliente, de forma tal que logran ser reconocidos por su mercado objetivo.
</p></br>
<p class="text">Los servicios que manejamos para marketing online son:</p>
<p class="text">
<ul class="text text-service">
	<li>Posicionamiento WEB: Trata todo lo relacionado con la promoción y posicionamiento de su marca en la web </li>
	<li>Posicionamiento SEO: Se trata de que una empresa aparezca en las primeras posiciones dentro de los resultados de un buscador, en relación a una serie de palabras o términos </li>
	<li>RSS: Hacer llegar a sus usuarios publicaciones de interés  periódicas a través de un registro breve, genera fidelidad hacia su marca</li>
	<li>Social Media: posicionamiento y promoción de su marca en las redes sociales</li>
	<li>Mailling</li>
</ul>
</p>