<div class="service-title"><h1 class="title">Diseño y Desarrollo Web</h1></div>
<p class="frase">
Te ofrecemos soluciones Web personalizadas completamente a tu medida.
</p></br>
<p class="text">
Empleamos las tecnologías más actuales, para diseñar y desarrollar sitios web atractivos al usuario y fáciles de navegar, adaptativos y responsivos a diferentes resoluciones.
</p></br>

<p class="text">Los servicios que manejamos para web son:
</p>

<p class="text">
<ul class="text text-service">
	<li>
   Diseño y desarrollo personalizado.</li>
	<li>Páginas web Corporativas.</li>
	<li>Soporte técnico y mantenimiento.</li>
	<li>Host y Hosting.</li>
	<li>Microsites y Apps en Facebook.</li>
	<li>Diseño responsivo web para Tablets y Smartphones.</li>
</ul>
</p>