
<%= link_to image_tag("button_top_footer.png" , :class => "button-footer") , "#telefono"%>

<footer class="foot">
<div class="container">
	<div class="section group">
		<div class="col span_1_of_3">
		<h3 class="foot-header">Contactanos</h3>
		<p>
			SM. 22 MZA. MZA 2 Retorno</br>
			Azucenas #16</br>
			Teléfono: (998) 253.83.53</br>
			<a href="mailto:info@zignacreativa.com">info@zignacreativa.com</a>
		</p>
		</div>
		<div class="col span_1_of_3">
		<h3 class="foot-header">Tags</h3>
		<p class="gray">Diseño Web</br>
			Imagen Corporativa</br>
			Diseño Gráfico</br>
			Marketing Online</br>
			Multimedia</br>
			CEO y SEM </br>
		</p> 
		</div>
		<div class="col span_1_of_3">
	</div>
</div>
</footer>