<div class="social-media">
<%=link_to image_tag("facebook.png"), "http://www.facebook.com/pages/Zigna-Creativa/174439495921568
", target: "_blank"%>
<%=link_to image_tag("twitter.png"), "http://twitter.com/zignacreativa" , target: "_blank"%>
<%=link_to image_tag("pinterest.png"), "http://pinterest.com/zignacreativa" , target: "_blank"%>
</div>